BasedOnStyle: WebKit
SortIncludes: true
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: AcrossEmptyLines
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
BinPackParameters: true
BreakAfterReturnType: None
AllowAllParametersOfDeclarationOnNextLine: true
ReflowComments: true